.vs
*.db
*.sdf
*.opensdf
*.opendb
*.sln
*.suo
*.pdb
*.log
Binaries
Build
Intermediate
Saved

# Starter Content is automatically added by UE4.
# NOTE: don't modify its content or changes will go lost.
StarterContent
